
.topnav {
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: white;
    -moz-background-clip: padding;
    -webkit-background-clip: padding;
    background-clip: padding-box;
    border-image: -webkit-linear-gradient(left, #8D7EF2, #6DBFF2, #99E2F2, #E9A7F2, #D288F2) 1;
    border-bottom: 2px outset;
    border-width: 0 0 1px 0;
    overflow: hidden;
}

#muse {
    top: 50%;
    margin-top: -15px;
    display: block;
    align-items: center;
    float: left;

    color: black;
    font-family: "lineto", Arial, Sans-Serif;
    font-size: 60px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;

    padding-left: 20px;
    padding-right: 20px;

    height: 65px;

    background: -webkit-linear-gradient(left, #8D7EF2, #6DBFF2, #99E2F2, #E9A7F2, #D288F2);
    background-clip: text;
    background-color: black;

    -moz-background-clip: text;
    -moz-text-fill-color: rgb(0,0,0,0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgb(0,0,0,0);
}

#name {
    display: inline-flex;
    align-items: center;
    float: right;

    color: black;
    font-family: "Trebuchet MS", Arial, Sans-Serif;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;

    padding-left: 20px;
    padding-right: 20px;

    height: 60px;
}

#name a {
    text-decoration:  none;
    color: black;
    transition: color 0.2s;
}

#name a:hover {
    text-decoration:  none;
    color: #8D7EF2;
}

@media only screen and (max-width: 570px) {
    #name {
        display: none;
    }
}