<!doctype html>
<html>
    <head>
        <title>muse | results</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/standard.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/menubar.css') }}">

        <div class="topnav" id="menu">
            <div id="muse">
                muse
            </div>
            <div id="name">
                by AMANI RUNE MAINA-KILAAS
            </div>
        </div>
    </head>

    <body>
        <div class="center">
            <img src="data:image/png;base64, {{ top_artists_img }}" width=600px>
            <img src="data:image/png;base64, {{ top_genres_img }}" width=600px>
        </div>
    </body>

</html>
