<!doctype html>
<html>
    <head>
        <title>polyvibe | home</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/standard.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/menubar.css') }}">

        <div class="topnav" id="menu">
            <div id="main-title">
                <a href="https://polyvibe.herokuapp.com">polyvibe</a>
            </div>
            <div id="name">
                <a href="https:/amanirmk.github.io" target="_blank">by AMANI RUNE MAINA-KILAAS</a>
            </div>
        </div>
    </head>

    <body>
        <div class="center">
            <div id="welcome" class="text">
                Welcome!
            </div>
            <div id="description" class="text">
                analyze your listening history with polyvibe
            </div>
            <br><br><br>
            <div id="prompt" class="text">
                Please log in below
            </div>
            <a id="spotify" class="grad-button text" href="/authorization">LOG IN WITH SPOTIFY</a>
        </div>
    </body>

</html>
